{{! thread.handlebars
    Template for a thread page.
    Express route: /threads/:id

    @param thread - A thread document obtained from the MongoDB database. Follows the following schema:
                    { author: string, title: string, content: string, vote_count: string, tags: array, games: array,
                      created: Date, thumbnail: string, comments: array }
}}

<div class="forum__body">
    <section class="forum__threads">
        
        <hgroup class="forum__thread"  id="{{thread._id}}">
            {{> threadlink this.thread show_options=(check_id thread.author user._id) user=user}}
        </hgroup>

        <article class="article article__block">
            {{! "Edit comment" menu }}
            <div id="editmenu--{{this.thread._id}}" class="hidden" style="margin-bottom: 10px;">
                <p><strong>Edit this thread</strong></p>
                
                {{> editor
                        id=(concat "editeditor--" this.thread._id)
                        action=(concat "/threads/" this.thread._id "/edit")
                        value=this.thread.content
                        method="post"}} {{! TODO: <form> does not allow the PUT verb}}

                <hr class="sidebar__rule" />
            </div>

            {{#if thread.deleted}}
            <p><em>This thread has been deleted.</em></p>
            {{else}}
            {{{markdown this.thread.content}}}
            {{/if}}
        </article>

        <section class="forum__comments">
            <hgroup class="forum__divider">
                {{#if reply}}
                <h2 style="margin: 0px;">Viewing a comment</h2>
                <a class="button button--light" href="/threads/{{this.thread._id}}">
                    <span class="material-symbols-outlined">arrow_back</span>
                    <ruby>Back to top<rt>トップに戻る</rt></ruby>
                </a>
                {{else}}
                <h2 style="margin: 0px;">Comments ({{count}})</h2>
                <a class="button button--light" data-toggle="#comment-editor">
                    <span class="material-symbols-outlined">add_circle</span>
                    <ruby>Comment<rt>コメントする</rt></ruby>
                </a>
                {{/if}}
            </hgroup>

            {{! TODO: Better way to get the action attribute, or just use a fetch() call }}
            {{> editor
                id="comment-editor"
                hidden=true action=(concat "/threads/" this.thread._id "/comments")
                method="post"}}
                
            <input name="parent" type="hidden" value="{{this.thread._id}}" form="comment-editor" />
            <input name="type" type="hidden" value="comment" form="comment-editor" />

            {{! Display all comments here }}
            {{#each comments}}
            {{> comment this user=../user restrict_siblings=../restrict_siblings}} {{! Pass user from session to the comment partial}}
            {{/each}}
            {{#if show_breadcrumbs}}
            {{#if restrict_siblings}}
            {{> breadcrumbs}}
            {{/if}}
            {{/if}}
        </section>
    </section>
    
    {{> sidebar}}
</div>




