{{! comment.handlebars
    Partial for rendering comments under posts

    @param author      - The author of the comment
    @param thread      - The thread the comment is tied to
    @param parent      - The ObjectID representing the parent of this comment (either a comment it is replying to or the
                         same as the thread it is tied to, if it is a top-level comment)
    @param content     - The content of the comment, written in Markdown
    @param vote_count  - The current vote count / score of the comment
    @param created     - The Date representing when the comment was posted
    @param descendants - An array of other comment objects representing the descendants of this comment. Obtained
                        from MongoDB's $graphLookup aggregation stage
}}

<div class="forum__comment">
    <div class="votes votes--comment">
        <a class="button button--light votes__button votes__up">
            <span class="material-symbols-outlined">keyboard_arrow_up</span>
        </a>
        <a class="button button--light votes__button votes__down">
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </a>
    </div>
    
    <div class="comment">
        <div style="display: flex; gap: 5px;">
            <p class="comment__details">
                <span data-toggle="#descendants--{{_id}}, .collapsed--{{_id}}" style="cursor: pointer">
                    [-]
                </span>
                <strong>{{author}}</strong> ({{vote_count}} votes, {{format_date created}})
            </p>
            
            <a href="/threads/{{this.thread}}/comments/{{this._id}}" class="button button--light button--light--small">
                <span class="material-symbols-outlined" style="font-size: 1.1rem">link</span>
            </a>
            <button class="button button--light button--light--small">
                <span class="material-symbols-outlined" style="font-size: 1.1rem">flag</span>
            </button>
            <button class="button button--light button--light--small">
                <span class="material-symbols-outlined" style="font-size: 1.1rem">bookmark</span>
            </button>
            <button class="button button--light button--light--small comment__reply" data-toggle="#replymenu--{{_id}}">
                <span class="material-symbols-outlined" style="font-size: 1.1rem; margin: 0px;">reply</span>
            </button>
        </div>
        

        <div class="comment--main">
            <article>
                {{{markdown content}}}
            </article>

            <div id="replymenu--{{_id}}" class="hidden" style="margin-bottom: 10px;">
                <hr class="sidebar__rule" />

                {{! TODO: Better way to get the action attribute, or just use a fetch() call }}
                {{> editor id=(concat "editor--" _id) action=(concat (concat "/threads/" thread) "/comments")}}

                {{! Specify that this is the parent comment when submitting the reply form }}
                <input name="parent" type="hidden" value="{{_id}}" form="editor--{{_id}}">
                <input name="type" type="hidden" value="reply" form="editor--{{_id}}">
            </div>
        </div>

        {{#if this.children}}
        {{#if (check_depth this.depth)}} {{! Display the "view more" button at the depth limit }}
            <a href="/threads/{{this.thread}}/comments/{{this._id}}"
            class="button button--light button--light--small">View more...</a>
        {{else}}
            <p class="comment__details collapsed--{{_id}} hidden"><em>Replies collapsed...</em></p>
            <div id="descendants--{{_id}}" class="comment__descendants">
                {{! All descendants go here }}
                {{#each descendants}}
                    {{! Check if direct child }}
                    {{#if (check_id this.parent ../_id)}}
                    {{! Pass the same flattened array of the comment tree }}
                    {{> comment this descendants=../descendants}}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}} 
        {{/if}}
    </div>
</div>

