<div id="confirmation--{{id}}" class="modal {{#if hidden}}hidden{{/if}}">
    <div class="modal-content">
        <span class="material-symbols-outlined" style="font-size: 100px;">{{icon}}</span>
        <p>{{{message}}}</p>
        <div class="modal-buttons">
            <a class="button button--light" data-toggle="#confirmation--{{id}}" data-toggle-class=".class-do-nothing">
                {{cancel}}
            </a>

            <form action="{{ok-link}}" method="{{method}}" style="display: inline;">
                <button class="button button--light button--dark--bad" type="submit">
                    {{ok}}
                </button>
            </form>
        </div>
    </div>
</div>
