{{! editor.handlebars
    Partial for rendering Markdown text editors

    @param id     - The ID to assign to this textbox
    @param hidden - Whether this textbox starts as hidden or not
    @param action - The acttion attribute to add to the form
}}
<form class="editor {{#if hidden}}hidden{{/if}}" id="{{id}}" method="{{method}}" action="{{action}}">
    <div class="editor__options" id="options--{{id}}" data-parent-id="{{id}}">
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="**" data-close="**">
            <span class="material-symbols-outlined symbols-btngrp">format_bold</span>
        </button>
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="*" data-close="*">
            <span class="material-symbols-outlined symbols-btngrp">format_italic</span>
        </button>
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="__" data-close="__">
            <span class="material-symbols-outlined symbols-btngrp">format_underlined</span>
        </button>
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="~~" data-close="~~">
            <span class="material-symbols-outlined symbols-btngrp">strikethrough_s</span>
        </button>
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="# " data-close="">
            <span class="material-symbols-outlined symbols-btngrp">format_h1</span>
        </button>
        <button type="button" class="button button--light button--light--small"
           data-type="formatter" data-open="`" data-close="`">
            <span class="material-symbols-outlined symbols-btngrp">code</span>
        </button>
        <button type="button" class="button button--light button--light--small" data-toggle="#options--image--{{id}}">
            <span class="material-symbols-outlined symbols-btngrp">image</span>
        </button>
        <button type="button" class="button button--light button--light--small" data-toggle="#options--link--{{id}}">
            <span class="material-symbols-outlined symbols-btngrp">link</span>
        </button>
    </div>

    <div class="advsearch__component editor__insertimage hidden"
        id="options--image--{{id}}"
        data-target="#content--{{id}}"
        data-type="image">
        <label class="advsearch__label" for="url" style="border-radius: 0px">URL</label>
        <input name="url" type="text" class="advsearch__input" placeholder="URL"/>
        <label class="advsearch__label" for="alt" style="border-radius: 0px">Alt text</label>
        <input name="alt" type="text" class="advsearch__input" placeholder="Alt text"/>
        <button type="button" class="button button--light button--light--small" style="border-radius: 0px">Insert image</button>   
    </div>

    <div class="advsearch__component editor__insertimage hidden"
        id="options--link--{{id}}"
        data-target="#content--{{id}}"
        data-type="link">
        <label class="advsearch__label" for="url" style="border-radius: 0px">URL</label>
        <input name="url" type="text" class="advsearch__input" placeholder="URL"/>
        <label class="advsearch__label" for="alt" style="border-radius: 0px">Alt text</label>
        <input name="alt" type="text" class="advsearch__input" placeholder="Alt text"/>
        <button type="button" class="button button--light button--light--small" style="border-radius: 0px">Insert link</button>   
    </div>

    <textarea 
        id="content--{{id}}"
        name="content"
        class="editor__box"
        placeholder="Start typing here..."
        {{#unless optional}}required{{/unless}}>{{value}}</textarea>

    <div class="editor__box hidden" id="preview--{{id}}" style="padding: 0px 10px 0px 10px; overflow: scroll; border-radius: 10px 10px 0px 0px">
        <article id="preview--{{id}}" class="article">
        </article>
    </div>

    <div class="editor__options editor__options--bottom"
        data-editor="#content--{{id}}" data-preview="#preview--{{id}}" data-options="#options--{{id}}" >
        <button type="button" class="button button--light button--light--small editor__editbutton button--current" style="flex: 1;">
            Editor
        </button>
        <button type="button" class="button button--light button--light--small editor__previewbutton" style="flex: 1;">
            Preview
        </button>
        
        {{#unless hide_submit}}
        <button type="submit" class="button button--light button--light--small">
            <span class="material-symbols-outlined">login</span>
            Publish
        </button>
        {{/unless}}
    </div>
</form>

<script type="module" src="/js/editor.js"></script>