<label for="{{id}}">{{label}}</label>
<div class="register__input">
    <div class="register__icon">
        <span class="material-symbols-outlined">{{icon}}</span>
    </div>
    <input class = "register__inputbox" type="{{type}}"
        placeholder="{{placeholder}}" id="{{id}}" name="{{id}}">
</div>