{{! tags.handlebars
    Partial for displaying tags for a post.
    
    @param games - An array of strings representing the game tags for the post
    @param tags  - An array of strings representing other tags for the post

    @note This partial accepts a thread document from the MongoDB database. The unused parameters are simply ignored.
}}

<div class="tags">
    {{#each games}}
    {{#if clickable}}
        <div class="tags__tag tags__tag--game">{{this}}</div>
    {{else}}
        <a href="/threads?games={{this}}" class="tags__tag tags__tag--game">{{this}}</a>
    {{/if}}
    {{/each}}
    {{#each tags}}
    {{#if clickable}}
        <div class="tags__tag">{{this}}</div>
    {{else}}
        <a href="/threads?tags={{this}}" class="tags__tag">{{this}}</a>
    {{/if}}
    {{/each}}
</div>