{{! threadlink.handlebars
    Partial for rendering thread information in a list (e.g. in the forum homepage)

    @param author     - The author of the thread
    @param content    - The content of the comment, written in Markdown
    @param vote_count - The current vote count / score of the comment
    @param created    - The Date representing when the comment was posted
    @param games      - An array of strings representing the game tags for the post
    @param tags       - An array of strings representing other tags for the post
    @param title      - The title of the post
    @param thumbnail  - The image to show as a post preview. Uses the site's favicon if not specified.

    @note This partial accepts a thread document from the MongoDB database. The unused parameters are simply ignored.
}}
{{! TODO: Maybe pass the up and down values instead?}}
<div class="votes">
    <a class="button button--light votes__button votes__up 
        {{#if (eq (lookup user.thread_vote_list _id) 1)}}button--current{{/if}}" 
        data-vote-type="up"
        data-vote-counter="#vote--{{_id}}"
        data-thread-id="{{_id}}">
        <span class="material-symbols-outlined">keyboard_arrow_up</span>
    </a>

    <p class="votes__counter" 
       style="color: 
       {{#if (eq (lookup user.thread_vote_list _id) 1)}}orange{{/if}} 
       {{#if (eq (lookup user.thread_vote_list _id) -1)}}blue{{/if}}"
       id="#vote--{{_id}}">
       {{vote_count}}
    </p>

    <a class="button button--light votes__button votes__down 
        {{#if (eq (lookup user.thread_vote_list _id) -1)}}button--current{{/if}}" 
        data-vote-type="down"
        data-vote-counter="#vote--{{_id}}"
        data-thread-id="{{_id}}">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
    </a>
</div>

<div class="thread {{#if clickable}}thread--clickable{{/if}}" 
    {{#if show_options}} {{#unless deleted}}
    style="border-radius: 0px" {{! Remove border radius, attach delete/edit buttons instead }}
    {{/unless}} {{/if}}
>
    {{#if deleted}}
    <span class="material-symbols-outlined" style="font-size: 5rem">error</span>
    {{else}}
    {{#if thumbnail}}
    <img src="{{thumbnail}}" class="thread__image">
    {{else}}
    <img src="/img/favicon.png" class="thread__image">
    {{/if}}
    {{/if}}
    
    <div class="thread__data">
        {{> tags this clickable=true}}
        <a {{#if clickable}}href="/threads/{{_id}}"{{/if}} class="thread__link">
        <h2 class="thread__title">
            {{#if deleted}}
            Deleted thread
            {{else}}
            {{title}}
            {{/if}}
        </h2>
        </a>
        
        <div class="thread__meta">
            <div class="thread__meta">
                {{#unless deleted}}
                <img src="{{author_data.pfp}}" style="height: 20px; border-radius: 20px;"/>
                <p class="thread__detail">Posted by <strong>{{author_data.name}}</strong>・{{format_date created}} {{#if edited}} (edited {{format_date edited}}){{/if}}</p>
                {{/unless}}
            </div>
        </div>
    </div>
    {{#if clickable}}<a href="/threads/{{_id}}" style="text-decoration: none" class="material-symbols-outlined">keyboard_double_arrow_right</a>{{/if}}
</div>

{{#if show_options}} {{#unless deleted}}
<div class="thread__editmenu">
    <button
        class="button button--light" style="flex: 1; border-radius: 0px 10px 0px 0px"
        data-toggle="#editmenu--{{_id}}">
        <span class="material-symbols-outlined">edit</span>
    </button>
    <form action="/threads/{{_id}}/delete" method="post" style="display: flex; flex: 1;">
        <button
        type="submit"
        class="button button--light button--light--bad"
        style="flex: 1; border-radius: 0px 0px 10px 0px">
            <span class="material-symbols-outlined">delete</span>
        </button>
    </form>
</div>
{{/unless}} {{/if}}
